{{ define "main" }}

<div class="mx-auto my-10 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
      <h1 class="author_name_sunita">{{.Title}}</h1>
      <div class="content py-1">{{.Content}}</div>
  </div>
</div>

<div class="container_sunita">
    <div class="row_sunita">
      <div class="col_sunita">
        <div class="author_sunita">

          <div class="author_left_sunita">
            <h1 class="author_name_sunita">Hello I’m Sunita Chandrasekaran</h1>
            <p class="author_bio_sunita">Associate Professor at the Dept. of CIS, University of Delaware and this is my research group. Our research intrests include programming accelerators (GPUs), exploring the suitability of high-level prarallel programming models such as OpenMP and OpenACC for current and future platforms, developing solfware programming stack for embedded systems using industry standards such as Multicore Association (MCA) and validating & verifying emerging directive-based parallel programming models.</p>
            
            <a class="author_btn_sunita" href="https://www.eecis.udel.edu/~schandra/">
              <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> See my website
            </a>
            
          </div>

          <div class="author_right_sunita">
            <div class="author_image_sunita">
              <img class="lazy_sunita" data-ll-status="loaded" src="/img/team/schandra.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
<div class="container_sunita">
  <div class="row_sunita">
    <h1 class="author_name_sunita">Post Doc - Felipe Cabarcas</h1>
    <div class="col_sunita">
      <div class="author_sunita">
        <div class="author_left_sunita">
            <div class="author_image_post">
              <img class="lazy_sunita" data-ll-status="loaded" src="/img/team/schandra.jpg">
            </div>
        </div>

        <div class="author_right_sunita">
          <p class="author_bio_sunita">Felipe Cabarcas graduated as Electrical Engineering in 1999 from the Universidad Pontificia Bolivariana, Medellin, Colombia. He obtained a Master of Electrical Engineering in 2002 from the University of Delaware. And a Ph.D. in Computer Architecture from the Universidad Politécnica de Catalunya in 2010, working in the Barcelona Supercomputing Center. He has been professor of Electrical Engineering in the Universidad de Antioquia for more than 10 years. During the last 10 years he has been teaching digital design courses; and his research has focused mainly on Genomics, and Metagenomics.</p>
          
          <a class="author_btn_sunita" href="https://www.eecis.udel.edu/~schandra/">
            <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> See my website
          </a>
          
        </div>

      </div>
    </div>
  </div>
</div>

<div class="mx-auto my-10 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
      <h1 class="author_name_sunita">Graduate Researchers</h1>
  </div>
</div>

<section class="section pb-0">      
    <div class="container">
        <div class="row no-gutters">           
          {{ range where .Pages "Params.grade" "graduate" }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
    </div>
</section>

<div class="mx-auto my-10 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
      <h1 class="author_name_sunita">Undergraduate Researchers</h1>
  </div>
</div>

<section class="section pb-0">      
  <div class="container">
      <div class="row no-gutters">
          {{ range where .Pages "Params.grade" "undergraduate" }}
          {{ .Render "summary" }}
          {{ end }}
      </div>
  </div>
</section>

<div class="mx-auto my-10 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
      <h1 class="author_name_sunita">Recently Graduated</h1>
  </div>
</div>

<section class="section pb-0">      
  <div class="container">
      <div class="row no-gutters">           
        {{ range where .Pages "Params.grade" "graduated" }}
          {{ .Render "summary" }}
          {{ end }}
      </div>
  </div>
</section>

{{ end }}


