{{ define "main" }}
<div class="mx-auto my-10 max-w-6xl">
    <div class="mx-3 col-span-3 lg:col-span-2 px-2">
        <h1 class="title text-5xl font-bold mb-3">{{.Params.name}}</h1>
        <section class="mb-4 text-lg">
            <h4 class="font-semibold">
              {{ .Params.role }} </h4>
            <h4 class="italic">
                {{ .Params.subtitle }} </h4>
        </section>
        <div class="content prose md:prose-lg lg:prose-xl max-w-none py-1">{{.Content}}</div>
    </div>
</div>
{{ end }}